@charset "ISO-8859-1";
table{
	color: white;
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;	
	}
	
tr{
	
}

	
th, td{
	border: 1px solid black;
	text-align: center; 
        }
        
table td {
	font-size: 12px; /* Tamanho de fonte desejado */
	font-family: FreeMono;
}        
  
.icons{
	display: flex;
	text-align: center;
	align-items: center;
		}

.header{
	background-color: rgb(63 , 63, 202);
	justify-content: space-between;
	}
		
.inputNotes {
	 width: calc(100% - 10px); /* Tamanho dos inputs com margens removidas */
     margin: 2px; /* Espaçamento entre os inputs */
     box-sizing: border-box;
        }
        
.inner-table {
	border-collapse: collapse;
	width: 100%;
       }     
       
.inner-table td {
	padding: 0; /* Remove o preenchimento interno das células das tabelas internas */
	}

.provas {
	background-color: rgb(63 , 63, 202);
     }
     
#id{
	width: 5px;
}

#meuCheckbox{
	padding: 5px;
}
