@charset "ISO-8859-1";
body{
	padding: 0px;
	margin: 0px;
	background-color:  rgb(5, 90, 117);
}
label{
	color: white;
}
.dadosAluno{
	box-shadow: 10px 5px 5px black;
	margin-left: 150px;
}

.titleNota{
	color: white;
}